

#gallery {
    width: 100%;
    h1 {
      color: #072c9e;
      margin: 29px auto;
      text-align: center;
      font: normal normal bold 42px/51px Inter;
    }
    p {
      text-align: center;
      font: normal normal normal 16px/24px Inter;
      width: 70%;
      margin: 0 auto;
    }
    .images {
      margin: 41px auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      // justify-content: center;
      grid-auto-rows: auto;
      // grid-gap: 20px;
      .slider {
        // border: 2px solid #db0c0c;
        img {
          height: auto;
      
        }
      }
    }
    .controller {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      img {
        // margin: auto 15px;
        cursor: pointer;
      }
      h5 {
        font: normal normal bold 16px/20px Inter;
        padding: 0 20px;
      }
    }
  }