// $breakpoint-tablet: 768px;
// @media (min-width: $breakpoint-tablet) {
  
// }

header {
    outline: 1px solid rebeccapurple;
    nav {
      display: flex;
      align-items: center;
      background: transparent;
      width: 100%;
      padding: 14px 63px;
      .logo {
        top: 14px;
        left: 63px;
        width: 245px;
        height: 45px;
      }
      ul {
        position: absolute;
        left: 50%;
  
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: #072c9e;
            font-size: 16px;
            margin-left: 14px;
            margin-right: 14px;
          }
        }
      }
      .nav_btn {
        position: absolute;
        right: 5%;
        @include enq_btn();
      }
    }
  }
