#investment {
  width: 100%;
  h1 {
    margin: 30px auto;
    color: #072c9e;
    font: normal normal bold 42px/51px Inter;
    font-weight: bold;
    text-align: center;
  }
  .cards {
    display: grid;

    grid-template-columns: (1fr 1fr 1fr);
    justify-content: center;
    align-items: center;
    grid-auto-rows: auto;
    margin: 0 30px;
    grid-gap: 20px;

    .card {
      border: 2px solid #e7e7e7;
      background: #f2f6f9;
      height: 100%;
      transition: all 0.2s ease;
      &:hover {
        box-shadow: $shadow;
        transform: scale(1.02);
      }
      h2 {
        color: #072c9e;
        font: normal normal bolder 24px/29px $font;
        text-align: center;
        margin: 21px auto;
        height: 52px;
        font-weight: bolder;
        letter-spacing: 0.5px;
      }
      .img_card {
        width: 100%;
        max-height: 100%;
      }
      p {
        text-align: center;
        margin: 18px 41px;
        color: #333333;
        font-family: $font;
      }
    }
  }
}

// media
@media (max-width: $breakpoint-tablet) {
  #investment {
    height: 100%;
    h1 {
      margin: 10px auto;
      font: normal normal bold 22px/30px Inter;
    }

    .cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      .card {
        margin: 2px 5px;
        width: 90%;
      }
    }
  }
}
