#location {
    width: 100%;
    height: 100%;
    background-color: #f2f6f9;
    padding: 61px 90px;
    h1 {
      color: #072c9e;
      font: normal normal bold 42px/51px Inter;
      text-align: center;
    }
    p {
      margin: 27px auto;
      color: #333333;
      text-align: center;
      font: normal normal normal 16px/24px Inter;
    }
  
    iframe {
      margin: 0 auto;
      width: 100%;
      height: 70vh;
      // position: absolute;
    }
    .distance {
      position: relative;
      text-align: center;
      margin: 50px auto;
      .arrow {
        display: inline-block;
        // border: 2px solid black;
        img {
          position: absolute;
          top: 40%;
        }
      }
      .block {
        display: inline-block;
        border-right: 1px solid black;
        text-align: center;
        margin: 0 0px 0px 0px;
        padding: 0 120px;
        font: normal normal bold 16px/40px Inter;
        h1 {
          font: normal normal bold 28px/40px Inter;
        }
      }
      .last {
        border: none;
      }
    }
    button {
      @include enq_btn();
      display: block;
      margin: 62px auto;
    }
  }