// reset css
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
// reset css



$font: "Inter", sans-serif;
$breakpoint-tablet: 769px;
$shadow: 0px 5px 10px -4px rgb(0, 0, 0);
    

@mixin enq_btn() {
  padding: 14px 29px;
  font: normal normal normal 16px/20px $font;
  font-weight: bold;
  letter-spacing: 0.84px;
  line-height: 17px;
  text-align: center;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #de6420;
  color: rgba(255, 255, 255, 0.979);
  transition: all 0.3s ease;
  &:hover{
    box-shadow: 0px 5px 10px -4px rgb(0, 0, 0);
    color: black
  }
}


// including the scss files of each components

@import './header'; //header+navbar included
@import './FormModal';  //dropdown enquiry form 
@import './Hero'; //Hero section /section 1st
@import './studentsection'; //student accomodation /section 2nd
@import './investment'; //investment and cards using grid /section 3rd
@import './overview'; //overview section4th
@import './location'; //location with iframe of maps and distance deatails section 5th
@import './tenancy'; //tenancy section 6th
@import './tenantoverview'; //tennacy overview section 7th
@import './gallery'; //gallery and photos using grids section 8th
@import './faq'; //frequently asked questions /section 9th
@import './about'; //about us section /section 10th
@import './Footer'; //footer section 12th 