* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
$font: "Inter", sans-serif;

@mixin enq_btn {
  padding: 14px 29px;
  font: normal normal normal 16px/20px $font;
  font-weight: bold;
  letter-spacing: 0.84px;
  line-height: 17px;
  text-align: center;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #de6420;
  color: white;
}
header {
  outline: 1px solid rebeccapurple;
  nav {
    display: flex;
    align-items: center;
    background: transparent;
    width: 100%;
    padding: 14px 63px;
    .logo {
      top: 14px;
      left: 63px;
      width: 245px;
      height: 45px;
    }
    ul {
      position: absolute;
      left: 50%;

      li {
        list-style: none;
        a {
          text-decoration: none;
          color: #072c9e;
          font-size: 16px;
          margin-left: 14px;
          margin-right: 14px;
        }
      }
    }
    .nav_btn {
      position: absolute;
      right: 5%;
      @include enq_btn();
    }
  }
}

#form_modal {
  display: none;
  position: fixed;
  z-index: 101;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.788);
  
  .modal-content {
    background-color: white;
    outline: 1px solid black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 80%;
    h1 {
      margin: 5px auto;
      text-align: center;
      color: #072c9e;
    }
    .close {
      color: #aaaaaa;
      float: right;

      font-size: 28px;
      font-weight: bolder;
      &:focus,
      &:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
    }
    form {
      margin: 30px auto;
      padding: 30px;
      width: 60%;
      label {
        width: 100%;
        outline: none;

        margin-top: 20px;
        color: blue;
      }
      input {
        width: 100%;
        margin: 10px auto;
        padding: 10px;
        font-family: $font;
        outline: none;
      }
      button {
        @include enq_btn();
        display: block;
        margin: 10px auto;
      }
    }
  }
}

#section_hero {
  // width: 100%;
  height: 100vh;
  background: url(../assets/Group2.png) no-repeat center center/cover;
  // text-align   : center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .container {
    width: 60%;
    margin: 0px 10px;
    h1 {
      font: normal normal bold 46px/56px $font;
      letter-spacing: 0.89px;
      color: white;
      text-transform: uppercase;
      font-family: "Inter";
      margin: 0px 90px;
    }
    p {
      text-align: left;
      font: normal normal bold 28px $font;
      line-height: 29px;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
      margin: 20px 90px;
    }

    button {
      @include enq_btn();
      margin: 20px 90px;

      // display: block;
      // width: 186px;
      // margin: 20px 90px;
    }
  }
.scroll{
    text-align: center;
    position: absolute;
    bottom: -7%;
    width: 100%;
    color: white;
    font: normal normal bold 14px/26px Inter;

}
}

#student_section {
  background: #072c9e;
  width: 100%;
  height: 100vh;

  .arrow {
    position: relative;
    top: -14px;
    display: block;
    height: 29px;
    width: 29px;
    border: none;
    z-index: 100;
    margin: 0px auto;
    text-align: center;
    background: white;
    border-radius: 50%;
    padding: 5px;
    outline: none;
    cursor: pointer;
    font-size: 20px;
  }
  h1 {
    width: 50%;
    text-align: center;
    font: normal normal bold 42px/51px Inter;
    margin: 30px auto;
    color: white;
  }
  .values {
    display: flex;
    justify-content: center;
    align-items: center;

    .outerbox {
      display: grid;
      place-items: center;
      text-align: center;
      padding: 12px;
      .box {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: 2px solid white;
        font: normal normal bold 20px/26px Inter;
        background: #0075b8;
        display: grid;
        place-items: center;
        color: white;
        padding: 10px;
        text-align: center;
        box-shadow: 0 0 0px 10px #0075b8;
        margin: 10px 60px;
      }
      p {
        margin-top: 20px;
        text-align: center;
        color: white;
        font: normal normal bold 20px/26px Inter;
      }
    }

    span {
      border-bottom: 2px solid rgb(255, 255, 255);
      width: 60px;
      // position: relative;
      transform: translateY(-15px);
      //   right: -10%;
      //   bottom: -80%;
    }
  }
  hr {
    margin: 40px;
    border: none;
    border-top: 1px dashed #ffffff;
    width: 75%;
    margin: 25px auto;
    // color: #0075B8;
  }

  .wrapper {
    width: 550px;
    margin: 0 auto;
    .progress-bar {
      display: flex;
      align-items: center;
      // flex-direction: row-reverse;
      width: 100%;
      background-color: #2ea2ea;
      padding: 4px;
      border-radius: 18px;
      font-family: $font;
      height: 36px;
      color: white;
      font-weight: bold;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);

      .progress-bar-fill {
        display: block;
        height: 24px;
        background: linear-gradient(90deg, #ff8500 0%, #fdbe14 100%);
        border-radius: 12px;
        width: 90%;
        transition: width 500ms ease-in-out;
        margin-right: 10px;
        // margin-left: 10px;
      }
    }
  }

  button {
    @include enq_btn();
    margin: 50px auto;
    display: block;
  }
}

#investment {
    width: 100%;
  h1 {
    margin: 30px auto;
    color: #072c9e;
    font: normal normal bold 42px/51px Inter;
    font-weight: bold;
    text-align: center;
  }
  .cards {
    display: grid;

    grid-template-columns: repeat(3, 390px);
    justify-content: center;
    grid-auto-rows: auto;

    grid-gap: 20px;

    .card {
      border: 2px solid #e7e7e7;
      background: #f2f6f9;

      h2 {
        color: #072c9e;
        font: normal normal bolder 24px/29px $font;
        text-align: center;
        margin: 21px auto;
        height: 52px;
        font-weight: bolder;
        letter-spacing: 0.5px;

        // line-height: 58px;
      }
      .img_card {
        width: 100%;
        max-height: 100%;
      }
      p {
        text-align: center;
        margin: 18px 41px;
        color: #333333;
        font-family: $font;
      }
    }
  }
}

#overview {
  margin: 90px auto;
  h1 {
    color: #072c9e;
    text-align: center;
    font: normal normal bold 42px/51px Inter;
    margin: 27px auto;
  }
  p {
    color: #333333;
    font: normal normal normal 20px/32px Inter;
    text-align: center;
    margin: 0 170px;
  }
  button {
    @include enq_btn();
    display: block;
    margin: 27px auto;
  }
}

#location {
  width: 100%;
  height: 100%;
  background-color: #f2f6f9;
  padding: 61px 90px;
  h1 {
    color: #072c9e;
    font: normal normal bold 42px/51px Inter;
    text-align: center;
  }
  p {
    margin: 27px auto;
    color: #333333;
    text-align: center;
    font: normal normal normal 16px/24px Inter;
  }

  iframe {
    margin: 0 auto;
    width: 100%;
    height: 70vh;
    // position: absolute;
  }
  .distance {
    position: relative;
    text-align: center;
    margin: 50px auto;
    .arrow {
      display: inline-block;
      // border: 2px solid black;
      img {
        position: absolute;
        top: 40%;
      }
    }
    .block {
      display: inline-block;
      border-right: 1px solid black;
      text-align: center;
      margin: 0 0px 0px 0px;
      padding: 0 120px;
      font: normal normal bold 16px/40px Inter;
      h1 {
        font: normal normal bold 28px/40px Inter;
      }
    }
    .last {
      border: none;
    }
  }
  button {
    @include enq_btn();
    display: block;
    margin: 62px auto;
  }
}

#tenancy {
  width: 100%;
  height: 90vh;
  background: url(../assets/tenancy.png) no-repeat center center/cover;
  padding: 70px 180px;
  color: #ffffff;

  h1 {
    text-align: center;
    font: normal normal bold 42px/51px Inter;
    margin-bottom: 20px;
  }
  h2 {
    text-align: center;
    font: normal normal bold 26px/24px Inter;
  }
  p {
    text-align: center;
    margin: 11px auto;
    font: normal normal normal 16px/24px Inter;
  }
  .btndiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    .btnbox {
      display: inline-block;
      margin: 0 28px;
      text-align: center;

      button {
        @include enq_btn();
        display: block;
        margin: auto 48px;
        padding: 50px 30px;
        font: normal normal bold 26px/30px Inter;
      }
      p {
        text-align: center;
        font: normal normal bold 18px/26px Inter;
        padding: 18px auto;
      }
    }
  }
}

.tenentoverview {
  margin: 48px auto;
  padding: 0 150px;
  h1 {
    color: #072c9e;
    text-align: center;
    font: normal normal bold 42px/24px Inter;
  }
  p {
    text-align: center;
    font: normal normal normal 16px/24px Inter;
    color: #333333;
    margin: 39px auto;
  }
  table {
    margin: 35px auto;
    width: 100%;
    border: 1px #dddddd solid;
    tr {
      border: 1px #dddddd solid;

      &:nth-child(odd) {
        background-color: #f0f0f0;
      }
      td {
        padding: 15px;
        &:nth-child(2) {
          text-align: right;
        }
      }
    }
  }
  button {
    @include enq_btn();
    display: block;
    margin: 45px auto;
  }
}

#gallery {
  width: 100%;
  h1 {
    color: #072c9e;
    margin: 29px auto;
    text-align: center;
    font: normal normal bold 42px/51px Inter;
  }
  p {
    text-align: center;
    font: normal normal normal 16px/24px Inter;
    width: 70%;
    margin: 0 auto;
  }
  .images {
    margin: 41px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // justify-content: center;
    grid-auto-rows: auto;
    // grid-gap: 20px;
    .slider {
      // border: 2px solid #db0c0c;
      img {
        height: auto;
      }
    }
  }
  .controller {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      // margin: auto 15px;
    }
    h5 {
      font: normal normal bold 16px/20px Inter;
      padding: 0 20px;
    }
  }
}

#faq {
  margin-top: 49px;
  padding: 39px 100px;
  background-color: #f2f6f9;
  h1 {
    margin: 10px auto;
    text-align: left;
    width: 65%;
    color: #072c9e;
    font: normal normal bold 42px/51px Inter;
  }
  p {
    color: #333333;
    width: 65%;
    margin: 29px auto;
    font: normal normal normal 16px/24px Inter;
  }

  .accordion {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    color: #000000;
    cursor: pointer;
    padding: 14px;
    width: 65%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin: 0 auto;
    &:active,
    &:hover {
      background-color: #ccc;
    }
    img {
      margin: 0 21px;
    }
  }

  .panel {
    display: none;
    padding: 0 18px;
    background-color: transparent;
    overflow: hidden;
  }
}

#about {
  width: 100%;
  background: #072c9e;
  margin-top: 58px;
  padding: 34px 100px;
  h1 {
    text-align: center;
    font: normal normal bold 42px/51px Inter;
    margin: 10px auto;
    color: #ffffff;
    text-transform: uppercase;
  }
  p {
    text-align: center;
    font: normal normal normal 16px/24px Inter;
    color: #ffffff;
    margin: 11px auto;
  }

  .aboutcard {
    display: flex;
    justify-content: space-between;

    .card {
      width: 20%;

      text-align: center;
      color: #ffffff;

      .circle {
        height: 98px;
        width: 98px;
        border-radius: 50%;
        background-color: white;
      }
      h3 {
        font: normal normal bold 20px/24px Inter;
      }
      p {
        font: normal normal normal 16px/20px Inter;
      }
    }
    hr {
      position: relative;
      bottom: 1px;
      height: 90px;
      transform: translateY(120px);

      background: white;
    }
  }
}

footer {
  background: #414040;
  padding: 14px;
  p {
    text-align: center;
    color: #ffffff;
    font: normal normal normal 14px/20px Inter;
  }
}




