// reset css
* {
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
  box-sizing: border-box;
}
// reset css



$font: "Inter", sans-serif;
@mixin enq_btn() {
  padding: 14px 29px;
  font: normal normal normal 16px/20px $font;
  font-weight: bold;
  letter-spacing: 0.84px;
  line-height: 17px;
  text-align: center;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #de6420;
  color: white;
}


// including the scss files of each components

@import './header';
@import './FormModal';
@import './Hero';
@import './studentsection';
@import './investment';
@import './overview';
@import './location';
@import './tenancy';
@import './tenantoverview';
@import './gallery';
@import './faq';
@import './about';
@import './Footer';